body{
  background-color:black;

}



#texto{
  background: linear-gradient(to right, #191970, #191970);
  height: 1500px;
   width: 70%;
  border-radius: 20px;
  margin: 0 auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 26px;
  text-align: center;
}

img{
  height:380px;
  width:auto;
 
}